.header__logo {
  max-width: 142px;
  min-height: 33px;
  padding: 45px 0 38px 0;
}

@media screen and (max-width: 768px) {
  .header__logo {
    max-width: 103.74px;
    min-height: 24.4px;
    padding: 28px 0 25px 26px;
  }
}
